<!-- home-page.component.html -->

<!-- Header Section -->
<header id="header-top" class="header-top">
  </header><!--/.header-top-->

  <!-- top-area Start -->
  <section class="top-area">
    <div class="header-area">
        <!-- Start Navigation -->
        <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

            <div style="display: flex;" class="container">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i> 
                    </button>-->
                    <div logo>
                        <img style="width: 25%; margin-left: -60%; margin-bottom: 3%;" src="../../assets/images/3DLearning.png" alt="">
                    </div>

                </div><!--/.navbar-header-->
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                
            </div><!--/.container-->
        </nav><!--/nav-->
        <!-- End Navigation -->
    </div><!--/.header-area-->
    <div class="clearfix"></div>

</section><!-- /.top-area-->
<!-- top-area End -->
  
  <!-- Welcome Hero Section -->
  <section id="home" class="welcome-hero">
    <div class="container">
      <div class="welcome-hero-txt">
        <h2 style="font-size: 80px;">LEARN WITH<br> AI </h2>
        <p style="margin-top: 4%; font-size: 20px;">
          Study with ease. Ask ChatGPT, watch YouTube videos or read summaries of those videos.
        </p>
      </div>

    </div>
  
  </section><!--/.welcome-hero-->
  
  <!-- List Topics Section -->
  <section id="list-topics" class="list-topics">
    <div class="container">
      <div class="list-topics-content">
        <ul>
          <li>
            <div class="single-list-topics-content">
              <div class="single-list-topics-icon">
                <i class="flaticon-restaurant"></i>
              </div>
              <h2><a href="#">Biology</a></h2>
              <p>3 lectures</p>
            </div>
          </li>
          <li>
            <div class="single-list-topics-content">
                <div class="single-list-topics-icon">
                    <i class="flaticon-travel"></i>
                </div>
                <h2><a href="#">History</a></h2>
                <p>2 lectures</p>
            </div>
        </li>
        <li>
            <div class="single-list-topics-content">
                <div class="single-list-topics-icon">
                    <i class="flaticon-building"></i>
                </div>
                <h2><a href="#">Physics</a></h2>
                <p>1 lecture</p>
            </div>
        </li>
        <li>
            <div class="single-list-topics-content">
                <div class="single-list-topics-icon">
                    <i class="flaticon-pills"></i>
                </div>
                <h2><a href="#">Geography</a></h2>
                <p>2 lectures</p>
            </div>
        </li>
        <li>
            <div class="single-list-topics-content">
                <div class="single-list-topics-icon">
                    <i class="flaticon-transport"></i>
                </div>
                <h2><a href="#">Chemistry</a></h2>
                <p>1 lecture</p>
            </div>
        </li>
        
        </ul>
      </div>
    </div><!--/.container-->
  </section><!--/.list-topics-->
  
  <!-- Works Section -->
  <section id="works" class="works">
    <div class="container">
      <div class="section-header">
        <h2>How It Works</h2>
        <p>Learn more about how our website works</p>
      </div><!--/.section-header-->
      <div class="works-content">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="single-how-works">
              <div class="single-how-works-icon">
                <img style="width: 50%; margin-top: 22%;" src="../../assets/images/emoji_objects_FILL0_wght400_GRAD0_opsz24.svg">
              </div>
              <h2><a href="#">Choose <span> What To</span> Do</a></h2>
              <p>
                Choose how you want to study. It's all up to you, learn by chatting with AI, search YouTube videos, explore 3D models or read summaries of those videos made by AI. 
              </p>
              <button class="welcome-hero-btn how-work-btn" >
                read more
              </button>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="single-how-works">
                <div class="single-how-works-icon">
                    <img style="width: 50%; margin-top: 25%;" src="../../assets/images/head_mounted_device_FILL0_wght400_GRAD0_opsz24.svg">
                </div>
                <h2><a href="#">Study <span> with 3D Models</span></a></h2>
                <p>
                    Are you a vision learner? Search for anything you're interested in and our AI will generate high-quality 3D models that you can rotate around and zoom in.
                </p>
                <button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
                    read more
                </button>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="single-how-works">
                <div class="single-how-works-icon">
                    <img style="width: 50%; margin-top: 25%;" src="../../assets/images/school_FILL0_wght400_GRAD0_opsz24.svg">
                </div>
                <h2><a href="#">Make <span> Studying</span> Fun</a></h2>
                <p>
                    School has never been more fun. Engage in interesting lectures made by AI and your teachers. Ask any question that comes onto your mind and seek any 3D model you wish.
                </p>
                <button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
                    read more
                </button>
            </div>
        </div>
          
        </div>
      </div>
    </div><!--/.container-->
  
  </section><!--/.works-->
  
  <!-- Explore Section -->
  <section id="explore" class="explore">
    <div class="container">
      <div class="section-header">
        <h2>This might be interesting for you</h2>
        <p>Learn about new things, delve into the sea of science using AI verified by your teachers.</p>
      </div><!--/.section-header-->
      <div class="explore-content">
        <div class="row">
          <div class=" col-md-4 col-sm-6">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <img src="assets/images/moon.jpg" alt="explore image">
                <div class="single-explore-img-info">
                  <button >best rated</button>
                  <div class="single-explore-image-icon-box">
                    <ul>
                      <li>
                        <div class="single-explore-image-icon">
                          <i class="fa fa-arrows-alt"></i>
                        </div>
                      </li>
                      <li>
                        <div class="single-explore-image-icon">
                          <i class="fa fa-bookmark-o"></i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="single-explore-txt bg-theme-1">
                <h2><a href="#">Moon</a></h2>
                <p class="explore-rating-price">
                  <span class="explore-rating">5.0</span>
                  <a href="#"> 311 ratings</a> 
                   <a href="#"> | Geography</a>
                </p>
                <div class="explore-person">
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="explore-person-img">
                        <a href="#">
                          <img style="border-radius: 5px;" src="assets/images/male3.jpg" alt="explore person">
                        </a>
                      </div>
                    </div>
                    <div style="margin-top: 5%;" class="col-sm-10">
                      <p>
                        If you want to learn more about Moon, you could not have come to a better place. Ask our AI anything you want and eye-witness the magnificent Moon.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="explore-open-close-part">
                  <div class="row">
                    <div class="col-sm-5">
                      <button class="close-btn" >close now</button>
                    </div>
                    <div class="col-sm-7">
                      <div class="explore-map-icon">
                        <a href="#"><i data-feather="upload"></i></a>
                        <a href="#"><i data-feather="heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="single-explore-item">
                <div class="single-explore-img">
                    <img src="assets/images/wolf1.jpg" alt="explore image">
                    <div class="single-explore-img-info">
                        <button onclick="window.location.href='#'">featured</button>
                        <div class="single-explore-image-icon-box">
                            <ul>
                                <li>
                                    <div class="single-explore-image-icon">
                                        <i class="fa fa-arrows-alt"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-explore-image-icon">
                                        <i class="fa fa-bookmark-o"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single-explore-txt bg-theme-2">
                    <h2><a href="#">Wolves</a></h2>
                    <p class="explore-rating-price">
                        <span class="explore-rating">4.3</span>
                        <a href="#"> 128 ratings</a> 
                         <a href="#">| Biology</a>
                    </p>
                    <div class="explore-person">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="explore-person-img">
                                    <a href="#">
                                        <img style="border-radius: 5px;" src="assets/images/female2.jpg" alt="explore person">
                                    </a>
                                </div>
                            </div>
                            <div style="margin-top: 5%;" class="col-sm-10">
                                <p>
                                    Interested in the wild life of a wolf, ow do they hunt, what do they eat and what characteristics they have? Click here and learn something new with a 3D model!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="explore-open-close-part">
                        <div class="row">
                            <div class="col-sm-5">
                                <button class="close-btn open-btn" onclick="window.location.href='#'">open now</button>
                            </div>
                            <div class="col-sm-7">
                                <div class="explore-map-icon">
                                    <a href="#"><i data-feather="upload"></i></a>
                                    <a href="#"><i data-feather="heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="single-explore-item">
                <div class="single-explore-img">
                    <img src="assets/images/el.jpg" alt="explore image">
                    <div class="single-explore-img-info">
                        <button onclick="window.location.href='#'">best rated</button>
                        <div class="single-explore-image-icon-box">
                            <ul>
                                <li>
                                    <div class="single-explore-image-icon">
                                        <i class="fa fa-arrows-alt"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-explore-image-icon">
                                        <i class="fa fa-bookmark-o"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single-explore-txt bg-theme-3">
                    <h2><a href="#">Electric engines</a></h2>
                    <p class="explore-rating-price">
                        <span class="explore-rating">4.9</span>
                        <a href="#"> 211 ratings</a> 
                         <a href="#"> | Physics</a>
                    </p>
                    <div class="explore-person">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="explore-person-img">
                                    <a href="#">
                                        <img style="border-radius: 5px;" src="assets/images/female1.jpg" alt="explore person">
                                    </a>
                                </div>
                            </div>
                            <div style="margin-top: 5%;" class="col-sm-10">
                                <p>
                                    How do electric motors function? What do they look like? Explore the structure and functionality of electric motors with this lecture.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="explore-open-close-part">
                        <div class="row">
                            <div class="col-sm-5">
                                <button class="close-btn" onclick="window.location.href='#'">close now</button>
                            </div>
                            <div class="col-sm-7">
                                <div class="explore-map-icon">
                                    <a href="#"><i data-feather="upload"></i></a>
                                    <a href="#"><i data-feather="heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
  